@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
}

.height {
	height: 100%;
}

.btn-check:focus+.btn, .btn:focus {
	box-shadow: none!important;
}

* {
	transition: all 0.2s ease;
}

#mobile {
	display: none;
}

#page {
	margin-left: 70px;
}

$white:#ffffff;
$yellow:#ebe19a;
$black:#262626;

.wpcf7-not-valid-tip {
	font-size: 13px;
	text-align: left;
	color:$yellow;
}

.wpcf7-response-output {
	color: $black;
	background-color:$yellow;
	border:0;
}

//Buttons
.btn {
	text-transform: uppercase!important;
	color: $black!important;
	font-size: 14px!important;
	border-radius: 30px!important;
	font-weight: 600!important;
	padding:15px 35px!important;
	display: inline-block!important;
	clear: both;

	&:hover {
		opacity: 0.8;
	}

	&.btn-yellow {
		background-color: $yellow;
	}
}

.container-fluid {
	max-width: 80%!important;
}

//Title
.title-back {
	position: relative;

	h2 {
		position: relative;
		color:$white;
		display: inline-block;
		text-align: center;

		span {
			display:block;
		}
	}

	h1 {
		position: absolute;
		top:50%;
		color: $yellow;
		opacity:0.1;
		font-size: 90px;
		font-weight: 700;
		text-align: center;
		transform: translate(0,-50%);
		text-transform: uppercase;

		span {
			display: block;
			font-weight: 800;
		}
	}
}

.description-back {
	position: relative;

	h3 {
		position: absolute;
		bottom:-100px;
		left:-60px;
		color: $yellow;
		opacity:0.1;
		font-size: 90px;
		font-weight: 700;
		text-transform: uppercase;

		span {
			display: block;
			font-weight: 800;
		}
	}
}

#nav-slide-home {
	background-image:url('../img/bg-home.jpg');
	position:fixed;
	height: 100%;
	width: 460px;
	top:0;
	left: -460px!important;
	padding:50px;
	background-size: cover;
	background-position: center;
	z-index: 999;
	box-shadow: 0px 0px 10px rgba(1,1,1,0.3);
	transition: all 0.3s ease;

	&:hover {
		transition: all 0.3s ease;
		background-position: left;
	}

	.close {
		position: absolute;
		top:20px;
		right: 50px;
		cursor: pointer;

		i {
			color:$white;


			&:hover {
				color: $yellow;
			}
		}
	}

	&.active {
		left: 0!important;

		#tab {
			display: none;
		}
	}

	.logo {
		margin-bottom: 50px;
	}

	#tab {
		position: absolute;
		top:0;
		right: -73px;
		height: 100%;
		background-color: #000;
		padding:10px 5px;

		.logo {
			display: block;
			margin:0 auto;
			max-width: 90%;
		}

		ul {
			padding:0;
			position: absolute;
			bottom:10px;
			left:50%;
			transform: translate(-50%,0);
			
			li {
				padding:0;
				line-height: 50px;
				list-style-type: none;

				i {
					color: $white;
				}
			}
		}
	}

	ul {
		&.top {
			text-align: right;

			li {
				list-style-type:none;
				line-height: 30px;
				display: block;
				position: relative;

				.sub-menu {
					display: none;

					&.active {
						display: block;
					}

					li {
						line-height: 24px;

						&.active a {
							color:$yellow;
						}

						a {
							font-size:12px;
							color:$white;
							margin-right: 0;

							&:hover {
								color:$yellow;
							}

							&::before {
								display: none;
							}
						}
					}
				}

				a {
					text-transform: uppercase;
					font-size:17px;
					text-decoration:none;
					color:$white;
					position:relative;
				}

				&:hover a {
					color: $yellow;
				}

				&.active {
					.sub-menu {
						display: block;
					}
				}

				&.active a {
					margin-right:100px;
					color: $yellow;

					&::before {
						position: absolute;
						width: 90px;
						bottom:4px;
						height: 2px;
						content:'';
						right: -100px;
						background-color: $white;
					}
				}
			}
		}

		&.social {
			position:absolute;
			text-align: right;
			bottom: 50px;
			right: 50px;

			li {
				display: inline-block;
				margin-left: 23px;

				&:first-child {
					margin-left: 0;
				}

				.fab {
					color: $white;

					&:hover {
						color: $yellow;
					}
				}

				&.block {
					display: block;
					margin-top: 20px;

					a {
						color:$white;
						text-decoration: none;
					}
				}
			}
		}
	}
}

#presencia {
	padding:40px 0;
	background-color: $black;

	h2 {
		text-transform: uppercase;
		text-align: center;
		color: $yellow;
		margin-bottom: -28px;
		opacity: 0.2;
		font-size: 90px;
		font-weight: 700;
	}

	h3 {
		margin-bottom: 20px;
		font-weight: 600;
	}

	#tabs {
		.item-tab {
			margin-bottom: 30px;

			.fas {
				font-size: 13px;
			}
			
			&.active {
				display: block;

				.circle {
					background-color: $black;

					.fas {
						color: $white;
					}
				}

				p {
					display: block;
				}
			}

			p {
				display: none;
			}

			h4 {
				position: relative;

				.circle {
					position: relative;
					width: 45px;
					height: 45px;
					background-color: $yellow;
					color:$black;
					border-radius: 50%;
					display:inline-block;
					cursor: pointer;

					&:hover {
						background-color:$black;
						color:$yellow;
					}

					i {
						position: absolute;
						top:50%;
						left:50%;
						transform: translate(-50%,-50%);
					}
				}

				span {
					font-weight: 600;
					font-size: 16px;
					top:50%;
					margin-left: 14px;
					position: absolute;
					transform: translate(0,-50%);
				}
			}

		}
	}

	.map {
		background-color:#8f8f8e;
		border-radius: 30px;
		overflow: hidden;
		position: relative;
		padding:60px;
		height: 550px;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;

		ul {
			position: absolute;
			padding: 0;
			margin-left: -70px;
			top:50%;
			transform: translate(0,-50%);

			li {
				text-transform: uppercase;
				color: $yellow;
				font-size: 100px;
				opacity: 0.08;
				line-height: 90px;
				list-style-type: none;
				font-weight: 700;
			}
		}
	}
}

#form {
	padding:60px 0;
	background-color: $black;

	.title-back {
		text-align: center;
		margin:40px 0;

		h2 {
			text-align: center;
		}
	}

	.form {
		.form-control {
			margin-bottom: 20px;
			background-color: transparent;
			border:0;
			border-bottom: 1px solid #ececec;
			border-radius: 0;
			padding:10px;
			color:$white;

			&::placeholder {
				color: $white;
			}
		}
	}
}

#home {
	
	#second {
		padding:100px 0;
		background-color: $black;

		#images {
			content:'';
			position:relative;
			height: 450px;
			background-image:url('../img/bg.png');
			background-repeat:no-repeat;
			background-position:center;

			.img {
				background-size:cover;
				background-repeat:no-repeat;
				background-position:center;
				cursor: pointer;
				position:relative;

				&:hover::before {
					opacity:1;
				}

				&::before {
					opacity:0;
					content:'';
					position:absolute;
					width: 100%;
					height: 100%;
					top:0;
					left: 0;
					background-color:rgba(1,1,1,0.6);
					border-radius:20px;
				}

				&:hover .text {
					opacity: 1;
				}

				.text {
					opacity: 0;
					position:relative;
					top:50%;
					transform: translate(0,-50%);

					 p {
					 	color: #fff;
					 	font-size: 17px;
					 	font-weight: 300;
					 	text-align: center;
					 }
				}
			}

			.img-1 {
				top:80px;
				left:50px;
				position:absolute;
				width: 250px;
				height: 250px;
				background-image: url('../img/bg-1.jpg');
				border-radius:20px;
			}

			.img-2 {
				right: 18px;
				top:-40px;
				position:absolute;
				width: 270px;
				height: 270px;
				background-image: url('../img/bg-2.jpg');
				border-radius:20px;
			}

			.img-3 {
				bottom: -40px;
				right:50px;
				position:absolute;
				width: 240px;
				height: 240px;
				background-image: url('../img/bg-3.jpg');
				border-radius:20px;
			}
		}

		.text {
			top:50%;
			transform: translate(0,-50%);
			position: relative;
		}

		.btn {
			margin-top: 40px;
		}
	}

	#signature {
		background-color: $black;

		.text {
			top: 50%;
			position: relative;
			transform: translate(0,-50%);

			h2 {
				color: $white;
				font-weight: 600;
				margin-bottom: 20px;
			}

			p {
				font-size: 15px;
				color: $white;
				text-align: justify;
			}
		}
	}

	.pillars {
		background-color: $black;
		padding:50px 0;
		padding-bottom: 80px;

		.text {
			margin: 40px 0;

			h2 {
				color: $white;
				font-weight: 600;
			}
		
			h3 {
				color: $white;
			}
		}

		.timeline {
			margin:40px 0;
			position: relative;

			&::before {
				content:'';
				position: absolute;
				top:35px;
				width: 100%;
				height: 3px;
				background-color: $yellow;
				z-index: 0;
			}

			.circle {
				position: relative;
				z-index: 2;
				width: 75px;
				height: 75px;
				background-color: #666666;
				border-radius: 50%;
				display: block;
				margin:0 auto;
			}

			h4 {
				color: $white;
				margin-top: 30px;
				font-size: 19px;
				font-weight: 600;
			}

			p {
				font-size: 14px;
				color: $white;
			}
		}
	}

	#victory {
		position: relative;
		padding:50px 0;
		background-image: url('../img/home/bg-victory.jpg');
		background-size: contain;
		background-repeat: no-repeat;
		background-position: top;
		background-color: $black;
		text-align: center;

		#cubes {
			position: relative;
			margin-top:30px;

			.cube {
				display: block;
				height: 540px;
				border-radius: 30px;
				background-size:cover;
				background-repeat: no-repeat;
				background-position: center;
				position: relative;
				color:black;
				cursor: pointer;
				text-decoration: none;
				filter: grayscale(100%);

				&:hover {
					filter: grayscale(0);
				}

				&:hover .text {
					opacity: 1;
				}

				.text {
					opacity: 0;
					background-color:$white;
					position: absolute;
					bottom:0;
					padding:50px;
					border-radius: 0 0 29px 29px;

					h3 {
						text-transform: uppercase;
						font-size: 16px;
						font-weight: 600;
						margin-bottom: 20px;
					}

					p {
						font-size: 15px;
						line-height: 25px;
					}
				}
			}
		}

		h1 {
			text-transform: uppercase;
			color: $yellow;
			font-weight: 600;
			font-size: 70px;
			top:-66px;
			opacity: 0.2;
			position: absolute;
		}
	}

	#awards {
		background-color: #1e1d1d;
		padding:70px 0;

		.container-fluid {
			max-width: 90%!important;
		}

		h2 {
			color: $white;
			text-align: center;
			font-weight: 600;
			text-transform: uppercase;
			font-size: 35px;
		}

		p {
			color: $white;
			text-align: center;
			margin-bottom: 30px;;
		}

		#js-grid-masonry {
			margin:40px 0;
		}
	}
}

#awards-block {
	background-color:$black;
	padding:40px 0;

	h2 {
		text-transform: uppercase;
		color: $yellow;
		margin-bottom: -26px;
		font-size: 120px;
		font-weight: 600;
		text-align: center;
		opacity: 0.2;
	}

	#awards-sub {
		background-image:url('../img/signature/bg-awards.jpg');
		background-size: cover;
		background-position: left;
		background-repeat: no-repeat;
		padding:60px 0;
		overflow: hidden;

		li {
			list-style-type: none;
		}

		.line-gold {
			position:relative;

			&::before {
				height: 110%;
				content: '';
				position:absolute;
				left: 60px;
				width: 4px;
				top:-100px;
				z-index: 0;
				background-color:$yellow;
			}
		}

		.item {
			margin-bottom:10px;

			.text {
				position:relative;
				top: 50%;
				transform: translate(0,-50%);
			}

			img {
				width: 80%;
				position:relative;
				z-index: 2;
			}

			h4 {
				font-size: 16px;
				text-transform: uppercase;
				color: $white;
			}

			h5 {
				font-size: 13px;
				text-transform: uppercase;
				color: $white;
			}

			h6 {
				font-size: 11px;
				text-transform: uppercase;
				color: $white;
				font-style: italic;
			}
		}
	}
}

#signature-page {
	#second {
		padding:60px 0;
		background-image: url('../img/signature/bg-signature.jpg');
		background-size: cover;
		background-repeat: no-repeat;

		.text {
			position: relative;
			top:50%;
			transform: translate(0,-50%);

			h2 {
				color: $white;
			}

			p {
				color: $white;
			}
		}
	}

	#history {
		padding-top:100px;
		padding-bottom: 20px;
		background-color: $black;

		.title-back {
			margin-bottom: 40px;
		}

		.img {
			border-radius: 25px;
			background-color: #666666;
			height: 230px;
			background-position: center;
			background-size: cover;
		}

		#image {
			margin:30px 0;
		}

		h3 {
			text-align: center;
			color: $white;
			margin-top: 20px;
			font-size: 15px;
			text-transform: uppercase;
		}
	}

	.biography {
		background-size: contain;
		background-repeat: no-repeat;
		background-position: bottom;
		background-color: $black;
		position: relative;
		padding:90px 0;

		.arrows {
			position: relative;
			top:0;
			margin:0;
			text-align: right;

			.circle {
				display: inline-block;
				width: 50px;
				height: 50px;
				background-color: $white;
				border-radius: 50%;
				position: relative;

				i {
					color: $black;
					position: absolute;
					top:50%;
					left:50%;
					transform: translate(-50%,-50%);
				}
			}
		}

		.owl-people {
			top: 50%;
			position: relative;
			transform: translate(0,-50%);

			&::before {
				content:'';
				position: absolute;
				width: 100%;
				height: 80%;
				top:50%;
				transform: translate(0,-50%);
				left: 70px;
				border-radius: 25px;
				z-index:-1;
				background-color: $yellow;
			}

			.cube {
				padding:30px 50px;
				background-color: #666666;
				border-radius: 25px;

				h2 {
					color: $white;
					font-weight: 600;
					margin-bottom: 20px;
				}
	
				p {
					font-size: 14px;
					color:$white;
					text-align: justify;
				}
			}
		}

		.people {
			position: absolute;
			z-index: 2;
			bottom:0;
		}

		.text {

			h2 {
				color:$white;
				font-size: 25px;
				margin:0;
			}

			p {
				color:$white;
				font-size: 18px;
				margin:0;
			}
		}
	}

	#victory {
		padding:140px 0;
		background-color: $black;
		
		#bg-victory {
			background-color: $black;
			position: relative;
			padding:90px 0;
			background-image: url('../img/signature/bg-victory.jpg');
			background-size: cover;
			background-repeat: no-repeat;

			p {
				font-size: 17px;
				text-align: justify;
			}

			h2 {
				position: absolute;
				right: 120px;
				top:-60px;
				font-size: 60px;
				text-transform: uppercase;
				color:$yellow;
				opacity: 0.2;
			}
		}

		.head {
			position: absolute;
			top:50%;
			transform: translate(0,-50%);
			max-width: 450px;
		}

		.container-fluid {
			max-width: 100%!important;
		}

		.text {
			top: 50%;
			position: relative;
			transform: translate(0,-50%);

			p {
				color: $white;
			}
		}
	}

	#number {
		background-image: url('../img/signature/bg-number.jpg');
		position:relative;
		background-size: cover;
		background-repeat: no-repeat;
		padding-top:30px;
		padding-bottom: 60px;
		
		img {
			position: relative;
			margin:10px auto;
			display: block;
		}

		h2 {
			text-align: center;
			color: $white;
			font-size: 80px;
			font-weight: 700;
			text-transform: uppercase;

			span {
				font-size: 25px;
				font-weight: 700;
			}
		}

		h4 {
			color: $white;
			font-size: 20px;
			text-transform: uppercase;
			text-align: center;

			span {
				display: block;
			}
		}
	}

	#info {
		padding:80px 0;
		background-color: $black;

		.youtube {
			margin:30px 0;
		}

		.cube {
			border-radius: 25px;
			background-color: #000;
			text-align: center;
			color:$white;

			h3 {
				font-size: 20px;
				text-transform: uppercase;
				font-weight: 600;
				padding:30px 0;
				margin:0;

				span {
					display: block;
					font-weight: 600;
				}
			}

			.img {
				height: 180px;
				background-color: $white;
				background-size:cover;
				background-position: center;
				background-repeat: no-repeat;
			}

			p {
				font-size: 14px;
				padding:20px 40px;
				line-height: 30px;
			}

			.btn {
				padding:14px 60px!important;
				margin-bottom: 30px;
			}
		}
	}
}

#comunication-page {
	#second {
		background-image: url('../img/diferent/second.jpg');
		background-size:cover;
		background-repeat: no-repeat;
		position:relative;
		overflow: hidden;

		&.bg-political {
			background-position:center;
			background-image: url('../img/comunication/bg-political.jpg');
		}

		&.bg-electoral {
			background-position:center;
			background-image: url('../img/comunication/bg-electoral.jpg');
		}

		.text {
			padding:280px 0;

			h2 {
				color: $white;
			}

			p {
				color:$white;
			}
		}

		h4 {
			width: 70%;
			position: absolute;
			top: 50%;
			color: #ebe19a;
			opacity: 0.1;
			font-size: 68px;
			font-weight: 700;
			left:0;
			transform: translate(0, -50%);
			text-transform: uppercase;
		}
	}

	#diferent {
		padding:70px 0;
		background-color: $black;

		.title-back {
			margin-bottom: 80px;
		}

		.cube {
			background-color: #666666;
			border-radius: 20px 20px 30px 30px;

			.img {
				height: 180px;
				background-color: $yellow;
				border-radius: 20px 20px 0 0;
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center;
			}

			.text {
				padding:30px;
				text-align: center;

				h3 {
					text-transform: uppercase;
					color: $white;
					font-size: 15px;
					height: 60px;
				}

				p {
					font-size: 13px;
					color: $white;
					height:65px;
				}
			}
		}
	}

	#accordions4 {
		background-color:#000;
		padding:60px 0;

		.container-fluid {
			max-width:100%!important;
		}

		.accordion {
			box-sizing: border-box;
			display: flex;
			font-family: Arial, Helvetica, sans-serif;
			overflow: hidden;
			width: 100%;
		}
		
		.accordion-select {
			cursor: pointer;
			margin: 0;
			opacity: 0;
			z-index: 1;
		}
		
		.accordion-title {
			position: relative;
		}
		
		.accordion-title:not(:nth-last-child(2))::after {
			border: 1px solid transparent;
			bottom: 0;
			content: '';
			left: 0;
			position: absolute;
			right: 0;
			top: 0;
		}
		
		.accordion-title span {
			bottom: 0px;
			box-sizing: border-box;
			display: block;
			position: absolute;
			white-space: nowrap;
			width: 100%;
		}
		
		.accordion-content {
			box-sizing: border-box;
			overflow: auto;
			position: relative;
			transition: margin 0.3s ease 0.1s;
		}
		
		.accordion-select:checked + .accordion-title + .accordion-content {
			margin-bottom: 0;
			margin-right: 0;
		}
		
		/* Generated styles starts here */
		.accordion {
			border-color: #dedede;
			border-radius: 0px;
			border-style: solid;
			border-width: 1px;
			flex-direction: row;
			height:550px;
			position: relative;

			.text {
				position: relative;
				top:50%;
				left:45%;
				width:50%;
				transform:translate(-50%,-50%);

				.description-back {

					h2 {
						color:$white;
						font-size:25px;
					}

					h3 {
						font-size:70px;
					}

					p {
						color:$white;
					}
					
				}
			}
		} 
		
		.accordion-title,
		.accordion-select  {
			background-color: black!important;
			color: white;
			width: 62px;
			height: 100%;
			font-size: 15px;
		}
		
		.accordion-select {
			margin-bottom: -65px;
			margin-right: -62px;
		}
		
		.accordion-title:not(:nth-last-child(2))::after {
			border-bottom-color: transparent;
			border-right-color: rgb(234, 234, 234);
		} 
		
		.accordion-select:hover + .accordion-title,
		.accordion-select:checked + .accordion-title {
			background-color: #ffffff;
		} 
		
		.accordion-title span  {	
			transform: rotate(-90deg);
			-ms-writing-mode: lr-bt;
			filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
			padding-bottom: 31px;
			padding-top: 31px;
			line-height: 62px;
		} 
		
		.accordion-content {
			background-color: #f7f7f7;
			color: #7f8787;
			height: 100%;
			margin-bottom: 0;
			margin-right: calc(-1 * calc(100% - 248px));
			padding: 30px;
			width: calc(100% - 248px);
			background-size:cover;
			background-repeat:no-repeat;
			background-position:center;
		}
	}

	#accordions3 {
		background-color:#000;
		padding:60px 0;

		.container-fluid {
			max-width:100%!important;
		}

		.accordion {
		    box-sizing: border-box;
		    display: flex;
		    font-family: Arial, Helvetica, sans-serif;
		    overflow: hidden;
		    width: 100%;

		    .text {
				position: relative;
				top:50%;
				left:45%;
				width:50%;
				transform:translate(-50%,-50%);

				.description-back {

					h2 {
						color:$white;
						font-size:25px;
					}

					h3 {
						font-size:70px;
					}

					p {
						color:$white;
					}
					
				}
			}
		}

		.accordion-select {
		    cursor: pointer;
		    margin: 0;
		    opacity: 0;
		    z-index: 1;
		}

		.accordion-title {
		    position: relative;
		}

		.accordion-title:not(:nth-last-child(2))::after {
		    border: 1px solid transparent;
		    bottom: 0;
		    content: '';
		    left: 0;
		    position: absolute;
		    right: 0;
		    top: 0;
		}

		.accordion-title span {
		    bottom: 0px;
		    box-sizing: border-box;
		    display: block;
		    position: absolute;
		    white-space: nowrap;
		    width: 100%;
		}

		.accordion-content {
		    box-sizing: border-box;
		    overflow: auto;
		    position: relative;
		    transition: margin 0.3s ease 0.1s;
		}

		.accordion-select:checked + .accordion-title + .accordion-content {
		    margin-bottom: 0;
		    margin-right: 0;
		}

		/* Generated styles starts here */

		.accordion {
		   border-color: #dedede;
			border-radius: 0px;
			border-style: solid;
			border-width: 1px;
			flex-direction: row;
			height:550px;
			position: relative;
		} 

		.accordion-title,
		.accordion-select  {
		    background-color: black!important;
			color: white;
			width: 65px;
			height: 100%;
			font-size: 15px;
		}

		.accordion-select {
		    margin-bottom: -65px;
		    margin-right: -65px;
		}

		.accordion-title:not(:nth-last-child(2))::after {
		    border-bottom-color: transparent;
		    border-right-color: rgb(234, 234, 234);
		} 

		.accordion-select:hover + .accordion-title,
		.accordion-select:checked + .accordion-title {
		    background-color: #ffffff;
		} 

		 .accordion-title span  {	
		    transform: rotate(-90deg);
		    -ms-writing-mode: lr-bt;
		    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
		    padding-bottom: 33px;
		    padding-top: 33px;
		    line-height: 65px;
		} 

		.accordion-content {
		    background-color: #f7f7f7;
		    color: #7f8787;
		    height: 100%;
		    margin-bottom: 0;
		    margin-right: calc(-1 * calc(100% - 195px));
		    padding: 30px;
		    width: calc(100% - 195px);
		    background-size:cover;
			background-repeat:no-repeat;
			background-position:center;
		}
		
	}
	
	#numbers {
		background-image: url('../img/comunication/bg-numbers.jpg');
		background-size:cover;
		background-repeat: no-repeat;
		background-position: center;
		position: relative;
		overflow: hidden;

		&.bg-numbers-2 {
			background-image: url('../img/comunication/bg-numbers-2.jpg');
		}

		&.bg-numbers-3 {
			background-image: url('../img/comunication/bg-numbers-3.jpg');
		}

		h4 {
			position: absolute;
			left:50%;
			top:50%;
			color: $yellow;
			text-transform: uppercase;
			opacity: 0.2;
			transform: translate(-50%,-50%);
			font-weight: 700;
			font-size: 80px;
			opacity: 0.03;
		}

		.text {
			padding:190px 0;

			p {
				font-size: 20px;
				color: $white;
				text-align: center;
			}
		}
	}

	#video {
		background-color:$black;
		padding:60px 0;
	}
}

.widget-content {
	border:3px solid $black;
	padding:20px;
	background-color:#f5f5f5;
	border-radius:5px;
	margin-bottom: 30px;

	.widget-title {
		color:$black;
		font-weight: 700;
		text-align: center;
	}

	.btn {
		width: 100%;
		border-radius: 0!important;
		margin-top: 10px;
		background-color: $yellow;
		border:0;

		&:hover {
			background-color: $yellow;
		}
	}

	ul {
		margin:0;

		li {
			color:$white;
			color:$yellow;

			a {
				text-decoration: underline;
				color:$white;
			}
		}
	}
}

#page-blog {
	#header-height {
		background-image: url('../img/diferent/second.jpg');
		background-size:cover;
		background-position: center;
		background-repeat: no-repeat;
		padding:180px 0;
		background-color: $black;
		position: relative;

		&::before {
			content:'';
			position: absolute;
			width: 100%;
			top:0;
			left:0;
			height: 100%;
			background-color: rgba(1,1,1,0.4);
		}

		h1 {
			position: relative;
			z-index: 1;
			color: $white;
		}
	}

	#second {
		padding:90px 0;

		a {
			text-decoration: none;
			color:$black;
		}

		.item {
			background-color:#f5f5f5;
			border-bottom:3px solid $black;
			margin-bottom:40px;

			&:hover {
				opacity: 0.9;
			}

			h2 {
				font-size:21px;
			}

			.img {
				height:250px;
				background-size:cover;
				background-repeat:no-repeat;
				background-position:center;
			}

			.text {
				padding:25px;
			}

			ul {
				padding:0;
				margin:10px 0;

				li {
					display:inline-block;
					list-style-type:none;
					padding:5px 15px;
					border-radius:20px;
					font-size:14px;
					background-color:$yellow;
				}
			}

			p {
				margin-top:20px;
				font-size:15px;
			}

			.btn {
				margin-top:-25px;
				margin-right:25px;
				float:right;

				&:hover {
					opacity: 1;
				}
			}
		}
		
	}
}

#page-contact {

	#header {
		padding:120px 0;
		background-image: url('../img/comunication/accordion-1.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-position:center;

		h2 {
			text-align:center;
			color: $white;
			font-size: 45px;
			font-weight: 700;
		}
	}

	#info {
		padding:80px 0;

		h2 {
			color:$yellow;
			font-weight: 600;
		}

		ul {
			padding:0;

			li {
				list-style-type:none;
				line-height:30px;

				a {
					text-decoration: none;
					font-size:18px;
					color:$black;
				}
			}
		}

		.form {
			.form-control {
				margin-bottom: 10px;
				border-radius: 0;
				border:3px solid #ececec;
			}	
		}

		.btn {
			width: 100%;
			border-radius: 0!important;
		}
	}
	
}

#grey {
	cursor: pointer;
	display: none;
	position: fixed;
	top:0;
	width: 100%;
	height: 100%;
	left:0;
	background-color: rgba(1,1,1,0.6);
	z-index:99;

	&.active {
		display: block!important;
	}
}

#page-experience {
	#header {
		padding:100px 0;
		background-image: url('../img/diferent/second.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;

		h1 {
			text-align: center;
			color: $white;
		}
	}

	#info {
		padding:60px 0;

		.item-project {
			margin:50px 0;

			.img {
				height: 400px;
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
			}

			.text {
				position: relative;
				top:50%;
				transform: translate(0,-50%);

				h3 {
					text-transform: uppercase;
				}

				.line {
					margin: 15px 0;
					width: 80px;
					height: 2px;
					background-color: $black;
				}

				p {
					text-align: justify;
				}
			}
		}
	}
}

footer {
	padding: 60px 0;
	background-color: black;

	p {
		margin-top: 20px;
		font-size: 14px;
		color: #b2b2b2;
	}

	h3 {
		color: $white;
		font-size: 16px;
		margin-bottom: 25px;
	}

	ul {
		padding:0;
		margin:0;

		&.social {
			li {
				display: inline-block;
				margin-left: 18px;

				.fab {
					color: $white;
					font-size: 20px;

					&:hover {
						color: $yellow;
					}
				}
			}
		}

		li {
			list-style-type: none;
			line-height: 30px;

			a {
				color: #b2b2b2;
				text-decoration: none;
				font-size: 13px;

				&:hover {
					color: $yellow;
				}
			}
		}
	}
}

@media only screen and (max-width : 1566px) {

	#signature-page .biography .people {
	    position: absolute;
	    z-index: 2;
	    bottom: 0;
	    max-width: 30%;
	}
}

@media only screen and (max-width : 1366px) {

	.title-back h1 {
		font-size: 67px;
	}

	#home #second #images .img-1 {
	    top: 80px;
	    left: 0;
	}

	#home #second #images .img-2 {
	    right: -30px;
	}

	#home #second #images .img-3 {
	    bottom: -40px;
	    right: 0;
	}

	#home .pillars .timeline p {
	    font-size: 13px;
	}

	#home #victory #cubes .cube .text {
		padding: 20px;
	}

	#home #victory #cubes .cube {
		height: 420px;
	}

	#signature-page #victory #bg-victory h2 {
	    font-size: 45px;
	}

	#signature-page #victory #bg-victory p {
	    font-size: 14px;
	    text-align: justify;
	}

	#comunication-page #numbers h4 {
		font-size: 50px;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1280px) {

	#comunication-page #diferent .cube .img {
		background-size: 110%;
	}

	#signature-page #second .text p {
		text-align: justify;
	}

	#awards-block #awards-sub .item h4 {
		font-size: 13px;
	}

	#awards-block #awards-sub .line-gold {
		padding:0;
	}

	#awards-block #awards-sub .line-gold::before {
	    height: 110%;
	    left: 25px;
	    top: -60px;
	}

	#awards-block #awards-sub {
	    background-position: -60px;
	}

	#signature-page .biography .text {
	    margin-top: 120px;
	}
}

@media only screen and (max-width : 1200px) {

	#page-blog #header-height h1 {
		font-size: 30px;
	}

	#info img {
		max-width: 70%;
		display: block;
		margin:0 auto;
	}

	.title-back h1 {
	    font-size: 65px;
	}

	#home #second #images .img-1 {
	    left: -60px;
	}

	#home .pillars .timeline::before {
		display: none;
	}

	#signature-page #history .img {
		background-size: cover;
		background-repeat: no-repeat;
	}

	#signature-page #history h3 {
		margin-bottom: 30px;
	}

	#signature-page .biography {
		padding: 30px 0;
	}

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

	#home #second {
		padding:40px 0;

		.text {
			text-align: center;
			margin-bottom:80px;
		}
	}

	.title-back {

		h1 {
			left: 50%;
		    transform: translate(-50%,-50%);
		    top: 50%;
		}
	}

	#home #second #images .img-1 {
		left: 0;
	}

	#home #second #images .img-2 {
	    right: 0;
	}

	#home #second #images .img-3 {
	    bottom: -40px;
	    right: 110px;
	}

	#signature {
		padding:40px 0;
	}

	#pillars {
		.title-back {
			text-align: center;
		}
	}

	#home #victory #cubes .cube {
		margin-bottom: 20px;
	}

	#presencia h2 {
	    margin-bottom: -13px;
	    opacity: 0.2;
	    font-size: 60px;
	}

	#presencia .map {
		background-position: right;
		position: relative;

		h4, p {
			color:$white;
		}

		&::before {
			position: absolute;
			top:0;
			left: 0;
			content:'';
			width: 100%;
			height: 100%;
			background-color: rgba(1,1,1,0.5);
		}
	}

	#presencia h3 {
		position: relative;
		z-index:2;
		color:$white;
	}

	#presencia #tabs .item-tab.active p {
	    z-index: 2;
	    position: relative;
	}

	#signature-page #history .title-back {
		text-align: center;

		h1 {
			font-size: 45px;
		}
	}

	#signature-page #victory .head {
		max-width: 320px;
	}

	#signature-page #info .cube {
		margin-bottom: 20px;
	}

	#comunication-page #numbers h4 {
	    font-size: 40px;
	}

	#diferent {
		.cube {
			margin-bottom: 20px;
		}

		.title-back {
			text-align: center;
		}
	}

	#comunication-page #numbers h4 br {
		display: none;
	}
}

@media only screen and (max-width : 991px) {

	#awards-block #awards-sub .item img {
	    width: 100px;
	}

	#awards-block #awards-sub .line-gold::before {
		opacity: 0.3;
	}

	#awards-block #awards-sub .line-gold {
		padding: 0;
	}

	#awards-block #awards-sub .item {
		text-align: center;
	}

	#awards-block #awards-sub .line-gold::before {
		left: 50%;
		transform: translate(-50%,0);
	}

	#awards-block #awards-sub {
		position: relative;

		&::before {
			width: 100%;
			height: 100%;
			top:0;
			left:0;
			background-color: rgba(1,1,1,0.7);
			position: absolute;
			content:'';
		}
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

	#page {
		margin-left: 0;
	}

	#page-contact {
		iframe {
			height: 250px!important;
		}
	}

	#page-blog #header-height {
		padding: 90px 0;
	}

	#page-blog #header-height h1 {
		font-size: 23px;
	}

	#comunication-page #accordions3 .accordion .text .description-back h2, #comunication-page #accordions4 .accordion .text .description-back h2 {
	    font-size: 18px;
	}

	#comunication-page #accordions3 .accordion .text .description-back p, #comunication-page #accordions4 .accordion .text .description-back p {
		font-size: 13px;
	}

	#comunication-page #accordions3 .accordion .text .description-back h3, #comunication-page #accordions4 .accordion .text .description-back h3 {
	    font-size: 37px;
	    top: 50%;
	    transform: translate(0,-50%);
	}

	#nav-slide-home {
		display: none;
	}

	#mobile {
		display: block;
	}

	#home #victory h1 {
	    font-size: 42px;
	    top: -40px;
	}

	#home #victory {
	    padding-top: 10px;
	}

	#signature-page .biography .people {
		opacity: 0.6;
	}

	.owl-people-1 {
		position: relative;
		z-index: 2!important;
	}

	#diferent h1 {
		font-size:50px;
		line-height: 40px;
	}
}

@media only screen and (max-width : 767px) {

	#page-experience #info {
		padding:30px 0;

		.text {
			text-align: center;

			.line {
				margin:0 auto;
				display: inline-block;
				text-align: center;
			}
		}

		img {
			max-width: 300px;
		}
	}


	#signature img {
		max-width: 330px;
		margin:20px auto;
		display: block;
	}

	.title-back {
		text-align: center;

		h1 {
			font-size: 45px;
			text-align: center;
		}
	}

	#second img {
		max-width: 270px;
		margin:0 auto;
		display: block;
	}

	#signature-page .biography {
		background-image: none!important;
		padding-top: 90px;

		.text {
			position: relative;
			z-index:3;
		}

		.people {
			position: absolute;
		    z-index: 0;
		    top:20px;
		    max-width: 40%;
		}
	}

	#signature-page .biography .owl-people {
		z-index:2;
	}

	#signature-page .biography .text {
		text-align: left;
	}

	#signature-page #victory .head {
		opacity: 0.3;
	}

	#awards-block #awards-sub .item {
		text-align: center;
	}

	#awards-block #awards-sub .item img {
		max-width: 50%;
	}

	#awards-block #awards-sub .line-gold::before {
		left: 50%;
	}

	#awards-block #awards-sub .line-gold {
		padding: 0;
	}

	#awards-block #awards-sub {
		position: relative;

		&::before {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			top:0;
			left:0;
			background-color: rgba(1,1,1,0.7);
		}
	}

	#awards-block #awards-sub .line-gold::before {
		opacity:0.2;
	}

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

	#comunication-page #accordions3 .accordion .text, #comunication-page #accordions4 .accordion .text {
	    width: 100%;
	}

	#form .btn-yellow {
		margin:20px auto;
		display: block!important;
	}

	#form {
		padding:0;
	}

	#signature-page .biography .owl-people .cube {
		padding: 30px;
	}

	#signature-page .biography .arrows {
		z-index:2;
	}

	#comunication-page #numbers .text p {
	    font-size: 15px;
	}

	#home #second #images {
		background-image: none;
		height: inherit;

		.img {
			position: relative;
			width: 100%;
			left: 0;
			right: 0;
			bottom:0;
			top:0;
			margin-bottom: 20px;
		}
	}

	#home #second #images .img::before {
		opacity: 1;
	}

	#home #second #images .img .text {
		opacity: 1;
	}

	#home #victory {
		background-image: none;
	}

	#home #victory h1,#home #victory h2,#home #victory p {
		text-align: center;
		color:$white;
		top: inherit;
		position: relative;
	}

	#home #victory #cubes .cube .text p {
		color:#000;
	}

	#home #victory #cubes .cube .text {
		opacity: 1;
	}

	#home #victory #cubes .cube {
		filter: grayscale(0);
	}

	#presencia h2 {
	    margin-bottom: -5px;
	    opacity: 0.6;
	    font-size: 40px;
	}

	.container-fluid {
		max-width: 90%!important;
	}

	#signature-page .biography .people {
	    top: 50px;
	    max-width: 80%;
	}

	#signature-page #victory #bg-victory h2 {
	    font-size: 45px;
	    line-height: 51px;
	    top: -50px;
	}

	#signature-page .biography .text {
		text-align: left;
	}

	#signature-page .biography .owl-people::before {
		display: none;
	}

	#signature-page #number img {
	    width: 200px;
	}

	#awards-block h2 {
	    margin-bottom: -16px;
	    font-size: 70px;
	}

	#awards-block #awards-sub .item img {
	    max-width: 90px;
	}

	#awards-block #awards-sub .item .text {
		top: inherit;
		transform: inherit;
	    max-width: 70%;
	    margin:0 auto;
	}

	#comunication-page #diferent .cube .text h3, #comunication-page #diferent .cube .text p {
		height: inherit;
	}

	#comunication-page #second h4 {
		font-size: 44px;
	}

	#comunication-page #second .text {
		padding:130px 0;
		text-align: center;
	}

	#comunication-page #numbers .text {
	    padding: 110px 0;
	}

	#comunication-page #accordions3 .accordion .text,#comunication-page #accordions4 .accordion .text {
		top:50%;
		left: inherit;
		width: 100%;
		transform: translate(0,-50%);
	}

	#comunication-page #accordions3 .accordion-content,#comunication-page #accordions4 .accordion-content {
		padding: 10px;
	}

	#comunication-page #accordions3 .accordion .text .description-back h2 ,#comunication-page #accordions4 .accordion .text .description-back h2 {
	    font-size: 19px;
	}

	#comunication-page #accordions3 .accordion .text .description-back p, #comunication-page #accordions4 .accordion .text .description-back p {
		font-size: 14px;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}