@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
* {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.height {
  height: 100%;
}

.btn-check:focus + .btn, .btn:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

* {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

#mobile {
  display: none;
}

#page {
  margin-left: 70px;
}

.wpcf7-not-valid-tip {
  font-size: 13px;
  text-align: left;
  color: #ebe19a;
}

.wpcf7-response-output {
  color: #262626;
  background-color: #ebe19a;
  border: 0;
}

.btn {
  text-transform: uppercase !important;
  color: #262626 !important;
  font-size: 14px !important;
  border-radius: 30px !important;
  font-weight: 600 !important;
  padding: 15px 35px !important;
  display: inline-block !important;
  clear: both;
}
.btn:hover {
  opacity: 0.8;
}
.btn.btn-yellow {
  background-color: #ebe19a;
}

.container-fluid {
  max-width: 80% !important;
}

.title-back {
  position: relative;
}
.title-back h2 {
  position: relative;
  color: #ffffff;
  display: inline-block;
  text-align: center;
}
.title-back h2 span {
  display: block;
}
.title-back h1 {
  position: absolute;
  top: 50%;
  color: #ebe19a;
  opacity: 0.1;
  font-size: 90px;
  font-weight: 700;
  text-align: center;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  text-transform: uppercase;
}
.title-back h1 span {
  display: block;
  font-weight: 800;
}

.description-back {
  position: relative;
}
.description-back h3 {
  position: absolute;
  bottom: -100px;
  left: -60px;
  color: #ebe19a;
  opacity: 0.1;
  font-size: 90px;
  font-weight: 700;
  text-transform: uppercase;
}
.description-back h3 span {
  display: block;
  font-weight: 800;
}

#nav-slide-home {
  background-image: url("../img/bg-home.jpg");
  position: fixed;
  height: 100%;
  width: 460px;
  top: 0;
  left: -460px !important;
  padding: 50px;
  background-size: cover;
  background-position: center;
  z-index: 999;
  -webkit-box-shadow: 0px 0px 10px rgba(1, 1, 1, 0.3);
          box-shadow: 0px 0px 10px rgba(1, 1, 1, 0.3);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#nav-slide-home:hover {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-position: left;
}
#nav-slide-home .close {
  position: absolute;
  top: 20px;
  right: 50px;
  cursor: pointer;
}
#nav-slide-home .close i {
  color: #ffffff;
}
#nav-slide-home .close i:hover {
  color: #ebe19a;
}
#nav-slide-home.active {
  left: 0 !important;
}
#nav-slide-home.active #tab {
  display: none;
}
#nav-slide-home .logo {
  margin-bottom: 50px;
}
#nav-slide-home #tab {
  position: absolute;
  top: 0;
  right: -73px;
  height: 100%;
  background-color: #000;
  padding: 10px 5px;
}
#nav-slide-home #tab .logo {
  display: block;
  margin: 0 auto;
  max-width: 90%;
}
#nav-slide-home #tab ul {
  padding: 0;
  position: absolute;
  bottom: 10px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}
#nav-slide-home #tab ul li {
  padding: 0;
  line-height: 50px;
  list-style-type: none;
}
#nav-slide-home #tab ul li i {
  color: #ffffff;
}
#nav-slide-home ul.top {
  text-align: right;
}
#nav-slide-home ul.top li {
  list-style-type: none;
  line-height: 30px;
  display: block;
  position: relative;
}
#nav-slide-home ul.top li .sub-menu {
  display: none;
}
#nav-slide-home ul.top li .sub-menu.active {
  display: block;
}
#nav-slide-home ul.top li .sub-menu li {
  line-height: 24px;
}
#nav-slide-home ul.top li .sub-menu li.active a {
  color: #ebe19a;
}
#nav-slide-home ul.top li .sub-menu li a {
  font-size: 12px;
  color: #ffffff;
  margin-right: 0;
}
#nav-slide-home ul.top li .sub-menu li a:hover {
  color: #ebe19a;
}
#nav-slide-home ul.top li .sub-menu li a::before {
  display: none;
}
#nav-slide-home ul.top li a {
  text-transform: uppercase;
  font-size: 17px;
  text-decoration: none;
  color: #ffffff;
  position: relative;
}
#nav-slide-home ul.top li:hover a {
  color: #ebe19a;
}
#nav-slide-home ul.top li.active .sub-menu {
  display: block;
}
#nav-slide-home ul.top li.active a {
  margin-right: 100px;
  color: #ebe19a;
}
#nav-slide-home ul.top li.active a::before {
  position: absolute;
  width: 90px;
  bottom: 4px;
  height: 2px;
  content: "";
  right: -100px;
  background-color: #ffffff;
}
#nav-slide-home ul.social {
  position: absolute;
  text-align: right;
  bottom: 50px;
  right: 50px;
}
#nav-slide-home ul.social li {
  display: inline-block;
  margin-left: 23px;
}
#nav-slide-home ul.social li:first-child {
  margin-left: 0;
}
#nav-slide-home ul.social li .fab {
  color: #ffffff;
}
#nav-slide-home ul.social li .fab:hover {
  color: #ebe19a;
}
#nav-slide-home ul.social li.block {
  display: block;
  margin-top: 20px;
}
#nav-slide-home ul.social li.block a {
  color: #ffffff;
  text-decoration: none;
}

#presencia {
  padding: 40px 0;
  background-color: #262626;
}
#presencia h2 {
  text-transform: uppercase;
  text-align: center;
  color: #ebe19a;
  margin-bottom: -28px;
  opacity: 0.2;
  font-size: 90px;
  font-weight: 700;
}
#presencia h3 {
  margin-bottom: 20px;
  font-weight: 600;
}
#presencia #tabs .item-tab {
  margin-bottom: 30px;
}
#presencia #tabs .item-tab .fas {
  font-size: 13px;
}
#presencia #tabs .item-tab.active {
  display: block;
}
#presencia #tabs .item-tab.active .circle {
  background-color: #262626;
}
#presencia #tabs .item-tab.active .circle .fas {
  color: #ffffff;
}
#presencia #tabs .item-tab.active p {
  display: block;
}
#presencia #tabs .item-tab p {
  display: none;
}
#presencia #tabs .item-tab h4 {
  position: relative;
}
#presencia #tabs .item-tab h4 .circle {
  position: relative;
  width: 45px;
  height: 45px;
  background-color: #ebe19a;
  color: #262626;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}
#presencia #tabs .item-tab h4 .circle:hover {
  background-color: #262626;
  color: #ebe19a;
}
#presencia #tabs .item-tab h4 .circle i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
#presencia #tabs .item-tab h4 span {
  font-weight: 600;
  font-size: 16px;
  top: 50%;
  margin-left: 14px;
  position: absolute;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
#presencia .map {
  background-color: #8f8f8e;
  border-radius: 30px;
  overflow: hidden;
  position: relative;
  padding: 60px;
  height: 550px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#presencia .map ul {
  position: absolute;
  padding: 0;
  margin-left: -70px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
#presencia .map ul li {
  text-transform: uppercase;
  color: #ebe19a;
  font-size: 100px;
  opacity: 0.08;
  line-height: 90px;
  list-style-type: none;
  font-weight: 700;
}

#form {
  padding: 60px 0;
  background-color: #262626;
}
#form .title-back {
  text-align: center;
  margin: 40px 0;
}
#form .title-back h2 {
  text-align: center;
}
#form .form .form-control {
  margin-bottom: 20px;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #ececec;
  border-radius: 0;
  padding: 10px;
  color: #ffffff;
}
#form .form .form-control::-webkit-input-placeholder {
  color: #ffffff;
}
#form .form .form-control::-moz-placeholder {
  color: #ffffff;
}
#form .form .form-control:-ms-input-placeholder {
  color: #ffffff;
}
#form .form .form-control::-ms-input-placeholder {
  color: #ffffff;
}
#form .form .form-control::placeholder {
  color: #ffffff;
}

#home #second {
  padding: 100px 0;
  background-color: #262626;
}
#home #second #images {
  content: "";
  position: relative;
  height: 450px;
  background-image: url("../img/bg.png");
  background-repeat: no-repeat;
  background-position: center;
}
#home #second #images .img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  position: relative;
}
#home #second #images .img:hover::before {
  opacity: 1;
}
#home #second #images .img::before {
  opacity: 0;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(1, 1, 1, 0.6);
  border-radius: 20px;
}
#home #second #images .img:hover .text {
  opacity: 1;
}
#home #second #images .img .text {
  opacity: 0;
  position: relative;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
#home #second #images .img .text p {
  color: #fff;
  font-size: 17px;
  font-weight: 300;
  text-align: center;
}
#home #second #images .img-1 {
  top: 80px;
  left: 50px;
  position: absolute;
  width: 250px;
  height: 250px;
  background-image: url("../img/bg-1.jpg");
  border-radius: 20px;
}
#home #second #images .img-2 {
  right: 18px;
  top: -40px;
  position: absolute;
  width: 270px;
  height: 270px;
  background-image: url("../img/bg-2.jpg");
  border-radius: 20px;
}
#home #second #images .img-3 {
  bottom: -40px;
  right: 50px;
  position: absolute;
  width: 240px;
  height: 240px;
  background-image: url("../img/bg-3.jpg");
  border-radius: 20px;
}
#home #second .text {
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  position: relative;
}
#home #second .btn {
  margin-top: 40px;
}
#home #signature {
  background-color: #262626;
}
#home #signature .text {
  top: 50%;
  position: relative;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
#home #signature .text h2 {
  color: #ffffff;
  font-weight: 600;
  margin-bottom: 20px;
}
#home #signature .text p {
  font-size: 15px;
  color: #ffffff;
  text-align: justify;
}
#home .pillars {
  background-color: #262626;
  padding: 50px 0;
  padding-bottom: 80px;
}
#home .pillars .text {
  margin: 40px 0;
}
#home .pillars .text h2 {
  color: #ffffff;
  font-weight: 600;
}
#home .pillars .text h3 {
  color: #ffffff;
}
#home .pillars .timeline {
  margin: 40px 0;
  position: relative;
}
#home .pillars .timeline::before {
  content: "";
  position: absolute;
  top: 35px;
  width: 100%;
  height: 3px;
  background-color: #ebe19a;
  z-index: 0;
}
#home .pillars .timeline .circle {
  position: relative;
  z-index: 2;
  width: 75px;
  height: 75px;
  background-color: #666666;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}
#home .pillars .timeline h4 {
  color: #ffffff;
  margin-top: 30px;
  font-size: 19px;
  font-weight: 600;
}
#home .pillars .timeline p {
  font-size: 14px;
  color: #ffffff;
}
#home #victory {
  position: relative;
  padding: 50px 0;
  background-image: url("../img/home/bg-victory.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  background-color: #262626;
  text-align: center;
}
#home #victory #cubes {
  position: relative;
  margin-top: 30px;
}
#home #victory #cubes .cube {
  display: block;
  height: 540px;
  border-radius: 30px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  color: black;
  cursor: pointer;
  text-decoration: none;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}
#home #victory #cubes .cube:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}
#home #victory #cubes .cube:hover .text {
  opacity: 1;
}
#home #victory #cubes .cube .text {
  opacity: 0;
  background-color: #ffffff;
  position: absolute;
  bottom: 0;
  padding: 50px;
  border-radius: 0 0 29px 29px;
}
#home #victory #cubes .cube .text h3 {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
}
#home #victory #cubes .cube .text p {
  font-size: 15px;
  line-height: 25px;
}
#home #victory h1 {
  text-transform: uppercase;
  color: #ebe19a;
  font-weight: 600;
  font-size: 70px;
  top: -66px;
  opacity: 0.2;
  position: absolute;
}
#home #awards {
  background-color: #1e1d1d;
  padding: 70px 0;
}
#home #awards .container-fluid {
  max-width: 90% !important;
}
#home #awards h2 {
  color: #ffffff;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 35px;
}
#home #awards p {
  color: #ffffff;
  text-align: center;
  margin-bottom: 30px;
}
#home #awards #js-grid-masonry {
  margin: 40px 0;
}

#awards-block {
  background-color: #262626;
  padding: 40px 0;
}
#awards-block h2 {
  text-transform: uppercase;
  color: #ebe19a;
  margin-bottom: -26px;
  font-size: 120px;
  font-weight: 600;
  text-align: center;
  opacity: 0.2;
}
#awards-block #awards-sub {
  background-image: url("../img/signature/bg-awards.jpg");
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  padding: 60px 0;
  overflow: hidden;
}
#awards-block #awards-sub li {
  list-style-type: none;
}
#awards-block #awards-sub .line-gold {
  position: relative;
}
#awards-block #awards-sub .line-gold::before {
  height: 110%;
  content: "";
  position: absolute;
  left: 60px;
  width: 4px;
  top: -100px;
  z-index: 0;
  background-color: #ebe19a;
}
#awards-block #awards-sub .item {
  margin-bottom: 10px;
}
#awards-block #awards-sub .item .text {
  position: relative;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
#awards-block #awards-sub .item img {
  width: 80%;
  position: relative;
  z-index: 2;
}
#awards-block #awards-sub .item h4 {
  font-size: 16px;
  text-transform: uppercase;
  color: #ffffff;
}
#awards-block #awards-sub .item h5 {
  font-size: 13px;
  text-transform: uppercase;
  color: #ffffff;
}
#awards-block #awards-sub .item h6 {
  font-size: 11px;
  text-transform: uppercase;
  color: #ffffff;
  font-style: italic;
}

#signature-page #second {
  padding: 60px 0;
  background-image: url("../img/signature/bg-signature.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
#signature-page #second .text {
  position: relative;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
#signature-page #second .text h2 {
  color: #ffffff;
}
#signature-page #second .text p {
  color: #ffffff;
}
#signature-page #history {
  padding-top: 100px;
  padding-bottom: 20px;
  background-color: #262626;
}
#signature-page #history .title-back {
  margin-bottom: 40px;
}
#signature-page #history .img {
  border-radius: 25px;
  background-color: #666666;
  height: 230px;
  background-position: center;
  background-size: cover;
}
#signature-page #history #image {
  margin: 30px 0;
}
#signature-page #history h3 {
  text-align: center;
  color: #ffffff;
  margin-top: 20px;
  font-size: 15px;
  text-transform: uppercase;
}
#signature-page .biography {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: #262626;
  position: relative;
  padding: 90px 0;
}
#signature-page .biography .arrows {
  position: relative;
  top: 0;
  margin: 0;
  text-align: right;
}
#signature-page .biography .arrows .circle {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: #ffffff;
  border-radius: 50%;
  position: relative;
}
#signature-page .biography .arrows .circle i {
  color: #262626;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
#signature-page .biography .owl-people {
  top: 50%;
  position: relative;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
#signature-page .biography .owl-people::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 80%;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  left: 70px;
  border-radius: 25px;
  z-index: -1;
  background-color: #ebe19a;
}
#signature-page .biography .owl-people .cube {
  padding: 30px 50px;
  background-color: #666666;
  border-radius: 25px;
}
#signature-page .biography .owl-people .cube h2 {
  color: #ffffff;
  font-weight: 600;
  margin-bottom: 20px;
}
#signature-page .biography .owl-people .cube p {
  font-size: 14px;
  color: #ffffff;
  text-align: justify;
}
#signature-page .biography .people {
  position: absolute;
  z-index: 2;
  bottom: 0;
}
#signature-page .biography .text h2 {
  color: #ffffff;
  font-size: 25px;
  margin: 0;
}
#signature-page .biography .text p {
  color: #ffffff;
  font-size: 18px;
  margin: 0;
}
#signature-page #victory {
  padding: 140px 0;
  background-color: #262626;
}
#signature-page #victory #bg-victory {
  background-color: #262626;
  position: relative;
  padding: 90px 0;
  background-image: url("../img/signature/bg-victory.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
#signature-page #victory #bg-victory p {
  font-size: 17px;
  text-align: justify;
}
#signature-page #victory #bg-victory h2 {
  position: absolute;
  right: 120px;
  top: -60px;
  font-size: 60px;
  text-transform: uppercase;
  color: #ebe19a;
  opacity: 0.2;
}
#signature-page #victory .head {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  max-width: 450px;
}
#signature-page #victory .container-fluid {
  max-width: 100% !important;
}
#signature-page #victory .text {
  top: 50%;
  position: relative;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
#signature-page #victory .text p {
  color: #ffffff;
}
#signature-page #number {
  background-image: url("../img/signature/bg-number.jpg");
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 30px;
  padding-bottom: 60px;
}
#signature-page #number img {
  position: relative;
  margin: 10px auto;
  display: block;
}
#signature-page #number h2 {
  text-align: center;
  color: #ffffff;
  font-size: 80px;
  font-weight: 700;
  text-transform: uppercase;
}
#signature-page #number h2 span {
  font-size: 25px;
  font-weight: 700;
}
#signature-page #number h4 {
  color: #ffffff;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}
#signature-page #number h4 span {
  display: block;
}
#signature-page #info {
  padding: 80px 0;
  background-color: #262626;
}
#signature-page #info .youtube {
  margin: 30px 0;
}
#signature-page #info .cube {
  border-radius: 25px;
  background-color: #000;
  text-align: center;
  color: #ffffff;
}
#signature-page #info .cube h3 {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 30px 0;
  margin: 0;
}
#signature-page #info .cube h3 span {
  display: block;
  font-weight: 600;
}
#signature-page #info .cube .img {
  height: 180px;
  background-color: #ffffff;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#signature-page #info .cube p {
  font-size: 14px;
  padding: 20px 40px;
  line-height: 30px;
}
#signature-page #info .cube .btn {
  padding: 14px 60px !important;
  margin-bottom: 30px;
}

#comunication-page #second {
  background-image: url("../img/diferent/second.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}
#comunication-page #second.bg-political {
  background-position: center;
  background-image: url("../img/comunication/bg-political.jpg");
}
#comunication-page #second.bg-electoral {
  background-position: center;
  background-image: url("../img/comunication/bg-electoral.jpg");
}
#comunication-page #second .text {
  padding: 280px 0;
}
#comunication-page #second .text h2 {
  color: #ffffff;
}
#comunication-page #second .text p {
  color: #ffffff;
}
#comunication-page #second h4 {
  width: 70%;
  position: absolute;
  top: 50%;
  color: #ebe19a;
  opacity: 0.1;
  font-size: 68px;
  font-weight: 700;
  left: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  text-transform: uppercase;
}
#comunication-page #diferent {
  padding: 70px 0;
  background-color: #262626;
}
#comunication-page #diferent .title-back {
  margin-bottom: 80px;
}
#comunication-page #diferent .cube {
  background-color: #666666;
  border-radius: 20px 20px 30px 30px;
}
#comunication-page #diferent .cube .img {
  height: 180px;
  background-color: #ebe19a;
  border-radius: 20px 20px 0 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#comunication-page #diferent .cube .text {
  padding: 30px;
  text-align: center;
}
#comunication-page #diferent .cube .text h3 {
  text-transform: uppercase;
  color: #ffffff;
  font-size: 15px;
  height: 60px;
}
#comunication-page #diferent .cube .text p {
  font-size: 13px;
  color: #ffffff;
  height: 65px;
}
#comunication-page #accordions4 {
  background-color: #000;
  padding: 60px 0;
  /* Generated styles starts here */
}
#comunication-page #accordions4 .container-fluid {
  max-width: 100% !important;
}
#comunication-page #accordions4 .accordion {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  width: 100%;
}
#comunication-page #accordions4 .accordion-select {
  cursor: pointer;
  margin: 0;
  opacity: 0;
  z-index: 1;
}
#comunication-page #accordions4 .accordion-title {
  position: relative;
}
#comunication-page #accordions4 .accordion-title:not(:nth-last-child(2))::after {
  border: 1px solid transparent;
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
#comunication-page #accordions4 .accordion-title span {
  bottom: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  position: absolute;
  white-space: nowrap;
  width: 100%;
}
#comunication-page #accordions4 .accordion-content {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: auto;
  position: relative;
  -webkit-transition: margin 0.3s ease 0.1s;
  transition: margin 0.3s ease 0.1s;
}
#comunication-page #accordions4 .accordion-select:checked + .accordion-title + .accordion-content {
  margin-bottom: 0;
  margin-right: 0;
}
#comunication-page #accordions4 .accordion {
  border-color: #dedede;
  border-radius: 0px;
  border-style: solid;
  border-width: 1px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 550px;
  position: relative;
}
#comunication-page #accordions4 .accordion .text {
  position: relative;
  top: 50%;
  left: 45%;
  width: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
#comunication-page #accordions4 .accordion .text .description-back h2 {
  color: #ffffff;
  font-size: 25px;
}
#comunication-page #accordions4 .accordion .text .description-back h3 {
  font-size: 70px;
}
#comunication-page #accordions4 .accordion .text .description-back p {
  color: #ffffff;
}
#comunication-page #accordions4 .accordion-title,
#comunication-page #accordions4 .accordion-select {
  background-color: black !important;
  color: white;
  width: 62px;
  height: 100%;
  font-size: 15px;
}
#comunication-page #accordions4 .accordion-select {
  margin-bottom: -65px;
  margin-right: -62px;
}
#comunication-page #accordions4 .accordion-title:not(:nth-last-child(2))::after {
  border-bottom-color: transparent;
  border-right-color: #eaeaea;
}
#comunication-page #accordions4 .accordion-select:hover + .accordion-title,
#comunication-page #accordions4 .accordion-select:checked + .accordion-title {
  background-color: #ffffff;
}
#comunication-page #accordions4 .accordion-title span {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -ms-writing-mode: lr-bt;
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  padding-bottom: 31px;
  padding-top: 31px;
  line-height: 62px;
}
#comunication-page #accordions4 .accordion-content {
  background-color: #f7f7f7;
  color: #7f8787;
  height: 100%;
  margin-bottom: 0;
  margin-right: calc(-1 * calc(100% - 248px));
  padding: 30px;
  width: calc(100% - 248px);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#comunication-page #accordions3 {
  background-color: #000;
  padding: 60px 0;
  /* Generated styles starts here */
}
#comunication-page #accordions3 .container-fluid {
  max-width: 100% !important;
}
#comunication-page #accordions3 .accordion {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  width: 100%;
}
#comunication-page #accordions3 .accordion .text {
  position: relative;
  top: 50%;
  left: 45%;
  width: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
#comunication-page #accordions3 .accordion .text .description-back h2 {
  color: #ffffff;
  font-size: 25px;
}
#comunication-page #accordions3 .accordion .text .description-back h3 {
  font-size: 70px;
}
#comunication-page #accordions3 .accordion .text .description-back p {
  color: #ffffff;
}
#comunication-page #accordions3 .accordion-select {
  cursor: pointer;
  margin: 0;
  opacity: 0;
  z-index: 1;
}
#comunication-page #accordions3 .accordion-title {
  position: relative;
}
#comunication-page #accordions3 .accordion-title:not(:nth-last-child(2))::after {
  border: 1px solid transparent;
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
#comunication-page #accordions3 .accordion-title span {
  bottom: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  position: absolute;
  white-space: nowrap;
  width: 100%;
}
#comunication-page #accordions3 .accordion-content {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: auto;
  position: relative;
  -webkit-transition: margin 0.3s ease 0.1s;
  transition: margin 0.3s ease 0.1s;
}
#comunication-page #accordions3 .accordion-select:checked + .accordion-title + .accordion-content {
  margin-bottom: 0;
  margin-right: 0;
}
#comunication-page #accordions3 .accordion {
  border-color: #dedede;
  border-radius: 0px;
  border-style: solid;
  border-width: 1px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 550px;
  position: relative;
}
#comunication-page #accordions3 .accordion-title,
#comunication-page #accordions3 .accordion-select {
  background-color: black !important;
  color: white;
  width: 65px;
  height: 100%;
  font-size: 15px;
}
#comunication-page #accordions3 .accordion-select {
  margin-bottom: -65px;
  margin-right: -65px;
}
#comunication-page #accordions3 .accordion-title:not(:nth-last-child(2))::after {
  border-bottom-color: transparent;
  border-right-color: #eaeaea;
}
#comunication-page #accordions3 .accordion-select:hover + .accordion-title,
#comunication-page #accordions3 .accordion-select:checked + .accordion-title {
  background-color: #ffffff;
}
#comunication-page #accordions3 .accordion-title span {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -ms-writing-mode: lr-bt;
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  padding-bottom: 33px;
  padding-top: 33px;
  line-height: 65px;
}
#comunication-page #accordions3 .accordion-content {
  background-color: #f7f7f7;
  color: #7f8787;
  height: 100%;
  margin-bottom: 0;
  margin-right: calc(-1 * calc(100% - 195px));
  padding: 30px;
  width: calc(100% - 195px);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#comunication-page #numbers {
  background-image: url("../img/comunication/bg-numbers.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  overflow: hidden;
}
#comunication-page #numbers.bg-numbers-2 {
  background-image: url("../img/comunication/bg-numbers-2.jpg");
}
#comunication-page #numbers.bg-numbers-3 {
  background-image: url("../img/comunication/bg-numbers-3.jpg");
}
#comunication-page #numbers h4 {
  position: absolute;
  left: 50%;
  top: 50%;
  color: #ebe19a;
  text-transform: uppercase;
  opacity: 0.2;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-weight: 700;
  font-size: 80px;
  opacity: 0.03;
}
#comunication-page #numbers .text {
  padding: 190px 0;
}
#comunication-page #numbers .text p {
  font-size: 20px;
  color: #ffffff;
  text-align: center;
}
#comunication-page #video {
  background-color: #262626;
  padding: 60px 0;
}

.widget-content {
  border: 3px solid #262626;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 5px;
  margin-bottom: 30px;
}
.widget-content .widget-title {
  color: #262626;
  font-weight: 700;
  text-align: center;
}
.widget-content .btn {
  width: 100%;
  border-radius: 0 !important;
  margin-top: 10px;
  background-color: #ebe19a;
  border: 0;
}
.widget-content .btn:hover {
  background-color: #ebe19a;
}
.widget-content ul {
  margin: 0;
}
.widget-content ul li {
  color: #ffffff;
  color: #ebe19a;
}
.widget-content ul li a {
  text-decoration: underline;
  color: #ffffff;
}

#page-blog #header-height {
  background-image: url("../img/diferent/second.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 180px 0;
  background-color: #262626;
  position: relative;
}
#page-blog #header-height::before {
  content: "";
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  background-color: rgba(1, 1, 1, 0.4);
}
#page-blog #header-height h1 {
  position: relative;
  z-index: 1;
  color: #ffffff;
}
#page-blog #second {
  padding: 90px 0;
}
#page-blog #second a {
  text-decoration: none;
  color: #262626;
}
#page-blog #second .item {
  background-color: #f5f5f5;
  border-bottom: 3px solid #262626;
  margin-bottom: 40px;
}
#page-blog #second .item:hover {
  opacity: 0.9;
}
#page-blog #second .item h2 {
  font-size: 21px;
}
#page-blog #second .item .img {
  height: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#page-blog #second .item .text {
  padding: 25px;
}
#page-blog #second .item ul {
  padding: 0;
  margin: 10px 0;
}
#page-blog #second .item ul li {
  display: inline-block;
  list-style-type: none;
  padding: 5px 15px;
  border-radius: 20px;
  font-size: 14px;
  background-color: #ebe19a;
}
#page-blog #second .item p {
  margin-top: 20px;
  font-size: 15px;
}
#page-blog #second .item .btn {
  margin-top: -25px;
  margin-right: 25px;
  float: right;
}
#page-blog #second .item .btn:hover {
  opacity: 1;
}

#page-contact #header {
  padding: 120px 0;
  background-image: url("../img/comunication/accordion-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#page-contact #header h2 {
  text-align: center;
  color: #ffffff;
  font-size: 45px;
  font-weight: 700;
}
#page-contact #info {
  padding: 80px 0;
}
#page-contact #info h2 {
  color: #ebe19a;
  font-weight: 600;
}
#page-contact #info ul {
  padding: 0;
}
#page-contact #info ul li {
  list-style-type: none;
  line-height: 30px;
}
#page-contact #info ul li a {
  text-decoration: none;
  font-size: 18px;
  color: #262626;
}
#page-contact #info .form .form-control {
  margin-bottom: 10px;
  border-radius: 0;
  border: 3px solid #ececec;
}
#page-contact #info .btn {
  width: 100%;
  border-radius: 0 !important;
}

#grey {
  cursor: pointer;
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
  background-color: rgba(1, 1, 1, 0.6);
  z-index: 99;
}
#grey.active {
  display: block !important;
}

#page-experience #header {
  padding: 100px 0;
  background-image: url("../img/diferent/second.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#page-experience #header h1 {
  text-align: center;
  color: #ffffff;
}
#page-experience #info {
  padding: 60px 0;
}
#page-experience #info .item-project {
  margin: 50px 0;
}
#page-experience #info .item-project .img {
  height: 400px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#page-experience #info .item-project .text {
  position: relative;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
#page-experience #info .item-project .text h3 {
  text-transform: uppercase;
}
#page-experience #info .item-project .text .line {
  margin: 15px 0;
  width: 80px;
  height: 2px;
  background-color: #262626;
}
#page-experience #info .item-project .text p {
  text-align: justify;
}

footer {
  padding: 60px 0;
  background-color: black;
}
footer p {
  margin-top: 20px;
  font-size: 14px;
  color: #b2b2b2;
}
footer h3 {
  color: #ffffff;
  font-size: 16px;
  margin-bottom: 25px;
}
footer ul {
  padding: 0;
  margin: 0;
}
footer ul.social li {
  display: inline-block;
  margin-left: 18px;
}
footer ul.social li .fab {
  color: #ffffff;
  font-size: 20px;
}
footer ul.social li .fab:hover {
  color: #ebe19a;
}
footer ul li {
  list-style-type: none;
  line-height: 30px;
}
footer ul li a {
  color: #b2b2b2;
  text-decoration: none;
  font-size: 13px;
}
footer ul li a:hover {
  color: #ebe19a;
}

@media only screen and (max-width: 1566px) {
  #signature-page .biography .people {
    position: absolute;
    z-index: 2;
    bottom: 0;
    max-width: 30%;
  }
}
@media only screen and (max-width: 1366px) {
  .title-back h1 {
    font-size: 67px;
  }

  #home #second #images .img-1 {
    top: 80px;
    left: 0;
  }

  #home #second #images .img-2 {
    right: -30px;
  }

  #home #second #images .img-3 {
    bottom: -40px;
    right: 0;
  }

  #home .pillars .timeline p {
    font-size: 13px;
  }

  #home #victory #cubes .cube .text {
    padding: 20px;
  }

  #home #victory #cubes .cube {
    height: 420px;
  }

  #signature-page #victory #bg-victory h2 {
    font-size: 45px;
  }

  #signature-page #victory #bg-victory p {
    font-size: 14px;
    text-align: justify;
  }

  #comunication-page #numbers h4 {
    font-size: 50px;
  }
}
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1280px) {
  #comunication-page #diferent .cube .img {
    background-size: 110%;
  }

  #signature-page #second .text p {
    text-align: justify;
  }

  #awards-block #awards-sub .item h4 {
    font-size: 13px;
  }

  #awards-block #awards-sub .line-gold {
    padding: 0;
  }

  #awards-block #awards-sub .line-gold::before {
    height: 110%;
    left: 25px;
    top: -60px;
  }

  #awards-block #awards-sub {
    background-position: -60px;
  }

  #signature-page .biography .text {
    margin-top: 120px;
  }
}
@media only screen and (max-width: 1200px) {
  #page-blog #header-height h1 {
    font-size: 30px;
  }

  #info img {
    max-width: 70%;
    display: block;
    margin: 0 auto;
  }

  .title-back h1 {
    font-size: 65px;
  }

  #home #second #images .img-1 {
    left: -60px;
  }

  #home .pillars .timeline::before {
    display: none;
  }

  #signature-page #history .img {
    background-size: cover;
    background-repeat: no-repeat;
  }

  #signature-page #history h3 {
    margin-bottom: 30px;
  }

  #signature-page .biography {
    padding: 30px 0;
  }
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  #home #second {
    padding: 40px 0;
  }
  #home #second .text {
    text-align: center;
    margin-bottom: 80px;
  }

  .title-back h1 {
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    top: 50%;
  }

  #home #second #images .img-1 {
    left: 0;
  }

  #home #second #images .img-2 {
    right: 0;
  }

  #home #second #images .img-3 {
    bottom: -40px;
    right: 110px;
  }

  #signature {
    padding: 40px 0;
  }

  #pillars .title-back {
    text-align: center;
  }

  #home #victory #cubes .cube {
    margin-bottom: 20px;
  }

  #presencia h2 {
    margin-bottom: -13px;
    opacity: 0.2;
    font-size: 60px;
  }

  #presencia .map {
    background-position: right;
    position: relative;
  }
  #presencia .map h4, #presencia .map p {
    color: #ffffff;
  }
  #presencia .map::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(1, 1, 1, 0.5);
  }

  #presencia h3 {
    position: relative;
    z-index: 2;
    color: #ffffff;
  }

  #presencia #tabs .item-tab.active p {
    z-index: 2;
    position: relative;
  }

  #signature-page #history .title-back {
    text-align: center;
  }
  #signature-page #history .title-back h1 {
    font-size: 45px;
  }

  #signature-page #victory .head {
    max-width: 320px;
  }

  #signature-page #info .cube {
    margin-bottom: 20px;
  }

  #comunication-page #numbers h4 {
    font-size: 40px;
  }

  #diferent .cube {
    margin-bottom: 20px;
  }
  #diferent .title-back {
    text-align: center;
  }

  #comunication-page #numbers h4 br {
    display: none;
  }
}
@media only screen and (max-width: 991px) {
  #awards-block #awards-sub .item img {
    width: 100px;
  }

  #awards-block #awards-sub .line-gold::before {
    opacity: 0.3;
  }

  #awards-block #awards-sub .line-gold {
    padding: 0;
  }

  #awards-block #awards-sub .item {
    text-align: center;
  }

  #awards-block #awards-sub .line-gold::before {
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }

  #awards-block #awards-sub {
    position: relative;
  }
  #awards-block #awards-sub::before {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(1, 1, 1, 0.7);
    position: absolute;
    content: "";
  }
}
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  #page {
    margin-left: 0;
  }

  #page-contact iframe {
    height: 250px !important;
  }

  #page-blog #header-height {
    padding: 90px 0;
  }

  #page-blog #header-height h1 {
    font-size: 23px;
  }

  #comunication-page #accordions3 .accordion .text .description-back h2, #comunication-page #accordions4 .accordion .text .description-back h2 {
    font-size: 18px;
  }

  #comunication-page #accordions3 .accordion .text .description-back p, #comunication-page #accordions4 .accordion .text .description-back p {
    font-size: 13px;
  }

  #comunication-page #accordions3 .accordion .text .description-back h3, #comunication-page #accordions4 .accordion .text .description-back h3 {
    font-size: 37px;
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }

  #nav-slide-home {
    display: none;
  }

  #mobile {
    display: block;
  }

  #home #victory h1 {
    font-size: 42px;
    top: -40px;
  }

  #home #victory {
    padding-top: 10px;
  }

  #signature-page .biography .people {
    opacity: 0.6;
  }

  .owl-people-1 {
    position: relative;
    z-index: 2 !important;
  }

  #diferent h1 {
    font-size: 50px;
    line-height: 40px;
  }
}
@media only screen and (max-width: 767px) {
  #page-experience #info {
    padding: 30px 0;
  }
  #page-experience #info .text {
    text-align: center;
  }
  #page-experience #info .text .line {
    margin: 0 auto;
    display: inline-block;
    text-align: center;
  }
  #page-experience #info img {
    max-width: 300px;
  }

  #signature img {
    max-width: 330px;
    margin: 20px auto;
    display: block;
  }

  .title-back {
    text-align: center;
  }
  .title-back h1 {
    font-size: 45px;
    text-align: center;
  }

  #second img {
    max-width: 270px;
    margin: 0 auto;
    display: block;
  }

  #signature-page .biography {
    background-image: none !important;
    padding-top: 90px;
  }
  #signature-page .biography .text {
    position: relative;
    z-index: 3;
  }
  #signature-page .biography .people {
    position: absolute;
    z-index: 0;
    top: 20px;
    max-width: 40%;
  }

  #signature-page .biography .owl-people {
    z-index: 2;
  }

  #signature-page .biography .text {
    text-align: left;
  }

  #signature-page #victory .head {
    opacity: 0.3;
  }

  #awards-block #awards-sub .item {
    text-align: center;
  }

  #awards-block #awards-sub .item img {
    max-width: 50%;
  }

  #awards-block #awards-sub .line-gold::before {
    left: 50%;
  }

  #awards-block #awards-sub .line-gold {
    padding: 0;
  }

  #awards-block #awards-sub {
    position: relative;
  }
  #awards-block #awards-sub::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(1, 1, 1, 0.7);
  }

  #awards-block #awards-sub .line-gold::before {
    opacity: 0.2;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  #comunication-page #accordions3 .accordion .text, #comunication-page #accordions4 .accordion .text {
    width: 100%;
  }

  #form .btn-yellow {
    margin: 20px auto;
    display: block !important;
  }

  #form {
    padding: 0;
  }

  #signature-page .biography .owl-people .cube {
    padding: 30px;
  }

  #signature-page .biography .arrows {
    z-index: 2;
  }

  #comunication-page #numbers .text p {
    font-size: 15px;
  }

  #home #second #images {
    background-image: none;
    height: inherit;
  }
  #home #second #images .img {
    position: relative;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin-bottom: 20px;
  }

  #home #second #images .img::before {
    opacity: 1;
  }

  #home #second #images .img .text {
    opacity: 1;
  }

  #home #victory {
    background-image: none;
  }

  #home #victory h1, #home #victory h2, #home #victory p {
    text-align: center;
    color: #ffffff;
    top: inherit;
    position: relative;
  }

  #home #victory #cubes .cube .text p {
    color: #000;
  }

  #home #victory #cubes .cube .text {
    opacity: 1;
  }

  #home #victory #cubes .cube {
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
  }

  #presencia h2 {
    margin-bottom: -5px;
    opacity: 0.6;
    font-size: 40px;
  }

  .container-fluid {
    max-width: 90% !important;
  }

  #signature-page .biography .people {
    top: 50px;
    max-width: 80%;
  }

  #signature-page #victory #bg-victory h2 {
    font-size: 45px;
    line-height: 51px;
    top: -50px;
  }

  #signature-page .biography .text {
    text-align: left;
  }

  #signature-page .biography .owl-people::before {
    display: none;
  }

  #signature-page #number img {
    width: 200px;
  }

  #awards-block h2 {
    margin-bottom: -16px;
    font-size: 70px;
  }

  #awards-block #awards-sub .item img {
    max-width: 90px;
  }

  #awards-block #awards-sub .item .text {
    top: inherit;
    -webkit-transform: inherit;
            transform: inherit;
    max-width: 70%;
    margin: 0 auto;
  }

  #comunication-page #diferent .cube .text h3, #comunication-page #diferent .cube .text p {
    height: inherit;
  }

  #comunication-page #second h4 {
    font-size: 44px;
  }

  #comunication-page #second .text {
    padding: 130px 0;
    text-align: center;
  }

  #comunication-page #numbers .text {
    padding: 110px 0;
  }

  #comunication-page #accordions3 .accordion .text, #comunication-page #accordions4 .accordion .text {
    top: 50%;
    left: inherit;
    width: 100%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }

  #comunication-page #accordions3 .accordion-content, #comunication-page #accordions4 .accordion-content {
    padding: 10px;
  }

  #comunication-page #accordions3 .accordion .text .description-back h2, #comunication-page #accordions4 .accordion .text .description-back h2 {
    font-size: 19px;
  }

  #comunication-page #accordions3 .accordion .text .description-back p, #comunication-page #accordions4 .accordion .text .description-back p {
    font-size: 14px;
  }
}
/* Custom, iPhone Retina */